::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #232326;
}

::-webkit-scrollbar-thumb {
    background: rgb(15,177,176);
background: linear-gradient(180deg, rgba(15,177,176,1) 0%, rgba(57,92,92,1) 100%);
    border-radius: 15px;
}